@use "./variables" as var;

/* 
   * Flex Utilities* 
*/

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
.sm\:align-items-stretch {
  @media only screen and (min-width: var.$bp-sm) {
    align-items: stretch;
  }
}

/* 
   * List Utilities *
*/

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 
   * Text Utilities *
*/

.text-decoration-none {
  text-decoration: none !important;
}

/* 
   *  *
*/
