@use "variables" as var;

.footer {
  // background-color: #eeeeee;

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 300px;
    justify-content: center;
    align-content: center;

    @media only screen and (min-width: var.$bp-sm) {
      max-width: 500px;
    }
    @media only screen and (min-width: 850px) {
      max-width: none;
    }
  }
  &__top {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    text-align: center;
    row-gap: 2.5rem;

    @media only screen and (min-width: var.$bp-sm) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 6rem;
      row-gap: 6rem;
      justify-content: space-between;
      align-content: stretch;

      > * {
        width: fit-content;
      }

      *:nth-child(odd) {
        justify-self: start;
      }
      *:nth-child(even) {
        justify-self: end;
      }
    }

    @media only screen and (min-width: 850px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
