.showcase {
  max-width: 768px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  z-index: 10;
}
.showcase__text {
  line-height: 1.8;
  font-size: 1.2rem;
  max-width: 86%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  position: relative;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
}
.showcase__image {
  position: absolute;
  bottom: 0;
  right: -5rem;
  opacity: 0.05;
  display: block;
  max-height: 350px;
}

@media only screen and (min-width: 380px) {
  .showcase__text {
    text-align: left;
    line-height: 1.6;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 768px) {
  .showcase {
    margin-right: auto;
    margin-left: auto;
  }
  .showcase__text {
    font-size: 1.5rem;
  }
  .showcase__image {
    right: -10rem;
    max-height: 95%;
  }
}
@media only screen and (min-width: 828px) {
  .showcase__image {
    right: -13rem;
    max-height: none;
  }
}
